body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

h1,
h2,
h3 {
  color: #2c3e50;
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-size: 16px;
  margin-bottom: 15px;
}

h2 {
  font-size: 15px;
  margin-bottom: 12px;
}

h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  & span {
    position: relative;
    padding-left: 12px;
    font-size: 16px;
    color: #333;
    &::before {
      content: ", ";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

a {
  color: #3498db;
  text-decoration: none;
}

hr {
  border: 1px solid #ddd;
  margin: 10px 0;
}

p,
ul li {
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

/* Page Adjustments */
@page {
  margin: 1in;
}

.two-columns {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.two-columns > div {
  display: table-cell;
  width: 50%;
  padding-right: 15px;
  vertical-align: top;
}

.two-columns > div:last-child {
  padding-right: 0;
  padding-left: 15px;
}
