<!doctype html>
<html lang="{{ page.locale | replace: "_", "-" | default: "en" }}">
  <head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨🏻‍💻</text></svg>">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Basic Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Maximiliano Dalla Porta - Senior Software Engineer">
    <meta property="og:description" content="Senior Software Engineer with 17+ years of experience in JavaScript, TypeScript, Node.js, React, and more. Focused on delivering scalable solutions and continuous learning.">
    <meta property="og:url" content="https://gigamax13.github.io">
    <meta property="og:image" content="https://media.licdn.com/dms/image/v2/C4E03AQGp_85KTb3nPw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1539264508553?e=1737590400&v=beta&t=pzTNfnHkL_Mu-MKgVkDezWFGTuOMLbBnVffXzM-d63g">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Maximiliano Dalla Porta - Senior Software Engineer">
    <meta name="twitter:description" content="Senior Software Engineer with expertise in frontend and full-stack development. Proven track record in leading projects with modern technologies.">
    <meta name="twitter:image" content="https://media.licdn.com/dms/image/v2/C4E03AQGp_85KTb3nPw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1539264508553?e=1737590400&v=beta&t=pzTNfnHkL_Mu-MKgVkDezWFGTuOMLbBnVffXzM-d63g">
    <!-- <meta name="twitter:site" content="@your-twitter-handle"> -->

    <!-- Open Graph Metadata for LinkedIn and Facebook -->
    <meta property="og:site_name" content="Maximiliano Dalla Porta">
    <meta property="og:image:alt" content="Maximiliano Dalla Porta's Resume">
    <meta property="og:locale" content="en_US">

    <!-- LinkedIn -->
    <meta name="linkedin:profile" content="https://www.linkedin.com/in/maximilianodallaporta/">

    <!-- GitHub -->
    <meta name="github:profile" content="https://github.com/GigaMax13/">

    <!-- WhatsApp (if used for contact) -->
    <meta property="og:contact" content="https://wa.me/5551996926803">

    <!-- Optional Meta Tags for Additional Info (Google Search) -->
    <meta name="description" content="Maximiliano Dalla Porta - Senior Software Engineer. Over 17 years of experience in full-stack development with expertise in JavaScript, React, Node.js, and cloud technologies.">
    <meta name="keywords" content="Senior Software Engineer, JavaScript, TypeScript, Node.js, React, Frontend, Full-Stack, Web Development, Cloud, Testing">
    <meta name="author" content="Maximiliano Dalla Porta">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>